// Layout
// ================================
body {
	//padding-top:5rem;
}
.site-container {
	position:relative;
}





// Main Footer
// ================================
.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: auto;
	background-color: #acaaca;
}
	.main-footer-content {
		border-top: 1px solid #337ab7;
		padding:20px;
	}



@include media-breakpoint-up(md) {

}
